  <!-- Footer -->
  <footer class="footer text-center bg-dark">
    
    <div class="container">

      <ul class="list-inline mb-5">

        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-instagram"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-pinterest"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-youtube"></i>
          </a>
        </li>         

      </ul>    

    </div>   
      
    <img src="/assets/img/rodape_banner_1110x214.jpg" class="img-fluid" width="100%" alt="footer">    

    <!-- <p class="text-muted bg-dark small mb-0">Copyright &copy; www.almeidajj.com.br | 2019</p> -->

  </footer>