
# HTID:8599599: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:8599599: