<header class="bg-master">		
	
	<div class="container">				
		<div class="area-master">

			<!-- logo -->		
			<div class="text-center">
				<a href="/">
					{% include 'site/logo-min.html' %}						
				</a>
			</div>

			<article class="text-fix">
			
				<h1 class="display-4 text-center">História da Equipe Almeida JJ</h1>	

				<p class="margin-top">
				Após saírem da equipe Ryan Gracie em 2016, Diogo Almeida e seus irmãos Caio e Gustavo Almeida decidem seguir o próprio caminho. Em conjunto com seus amigos de treino Fábio Rodrigues (Gaúcho) e Jorge Azevedo, formam uma liderança de cinco faixas pretas e criam a equipe Almeida JJ.
				</p>
				<p>
				Com um projeto social de base forte, além do trabalho de longa data, já no primeiro ano a equipe conquistou o título de campeã nas categorias infantojuvenil, adulto e master, tornando-se a melhor do estado de São Paulo. E isso se repete nos anos seguintes, de modo que atualmente somos tricampeã Paulista pela FPJJ.
				</p>
				<p>
				Temos como objetivo seguir o Estatuto da Almeida JJ, que preza os seguintes valores: amor ao próximo, lealdade, qualidade, honestidade, disciplina, responsabilidade social e ética.
				</p>			

			</article>

			<a class="btn btn-dark" href="/">
				<i class="fa fa-arrow-left"></i>				
			</a>
        
		</div>
	
	<div class="overlay"></div>

</header>
