<header class="bg-project">		
	
	<div class="container">				
		<div class="area-project">

			<!-- logo -->		
			<div class="text-center">
				<a href="/">
					{% include 'site/logo-min.html' %}						
				</a>
			</div>

			<article class="text-fix">

				<h1 class="display-4 text-center">História do Projeto Almeida JJ</h1>	

				<p class="margin-top">
				Em meados de 2004, os irmãos Diogo e Caio Almeida, enquanto faixas azuis de jiu jitsu, com anuência de Antônio Carlos Bérgamo (Toni) e Everdan Olegário (Dan), começaram a ministrar aulas para os jovens do bairro de Itaquera nos fundos do próprio quintal, debaixo de um pé de manga, apenas com o intuito de reproduzir seus próprios mestres.
				</p>
				<p>
				Já em 2006, por incentivo de sua mãe Maria de Lourdes, pedagoga, Diogo Almeida, na época faixa roxa, iniciou a graduação em Educação Física na Faculdade UNICID, onde teve acesso, dentre outras matérias, a Políticas Públicas. Logo no primeiro semestre, em uma aula sobre inclusão social com o professor Maurício Teodoro de Souza, houve o questionamento: “o que você está fazendo para mudar a sociedade em vez de apenas apontar os seus defeitos?”.
				</p>
				<p>
				Com foco em inclusão social, Diogo Almeida decidiu agir. Comprou um rolo de tecido do tipo brim, contratou uma costureira do bairro para confeccionar vinte quimonos e deu início ao projeto Almeida JJ.
				</p>
				<p>
				O estatuto do projeto social tem como objetivo a formação de cidadãos que estejam incluídos na sociedade e respeitem o próximo. As crianças do projeto, além de receberem aulas gratuitas de jiu jitsu, têm acesso à educação, à cultura e ao lazer. Assim, o projeto inclui idas ao teatro, ao cinema e a clubes com piscinas, a participação em palestras, em aulas de inglês, em aulas de tênis, em dinâmicas com músicas, em campeonatos federados e confederados, além de ter o direcionamento para realizar um curso de graduação e também resolver e lidar com os problemas no âmbito familiar.
				</p>
				<p>
				Diogo e seus irmãos Caio e Gustavo Almeida perceberam que quando eles, bem como seus amigos Alex, Anderson Ciborg, Dimitrius Souza, Everton, Jaqueline (Jack), Marcão, Marcelo Mafra (Lapela), Maurício Medeiros (Olhos de Águia), Paulinho Baraúna, Rafael Domingos (Rafinha), Tartaruga, dentre outros, treinavam na Praça Brasil, Cohab II em Itaquera, já participavam de um projeto social, a partir do qual tiveram acesso a valores básicos de ética, direcionamento para os estudos e orientação na esfera familiar. Atualmente, todos são formados faixas pretas e alcançaram o sucesso em suas carreiras e na vida pessoal, sendo mais alguns exemplos desses: Abimael, Fabiano Rogério (Baiano), Jhony, Manchinha, Sérgio Moraes (Serginho UFC), Maurão e Fluído.
				</p>
				<p>
				Com o crescimento da prática do jiu jitsu no Brasil e a evolução profissional de toda a frente envolvida como Caio e Gustavo Almeida, Queijinho, Fernandinha, entre outros, hoje, após doze anos da criação do projeto social, orientamos aproximadamente quinhentas crianças e contamos com vinte e cinco profissionais participantes, além da formação de diversos campeões, como Cleber Clandestino, Bianca Basílio, Leonardo Lara, Raul Basílio e Jackson Rubens.
				</p>

			</article>

			<a class="btn btn-dark" href="/">
				<i class="fa fa-arrow-left"></i>				
			</a>			
        
		</div>
	
	<div class="overlay"></div>

</header>
